@model Models.Producto

@{
    ViewData["Title"] = "Detalles del Producto";
}

<h2>Detalles del Producto</h2>

<div class="card">
    <div class="card-header">
        <h4>Información del Producto</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">ID Producto:</dt>
            <dd class="col-sm-9">@Model.IdProducto</dd>

            <dt class="col-sm-3">Descripción:</dt>
            <dd class="col-sm-9">@Model.Descripcion</dd>

            <dt class="col-sm-3">Precio:</dt>
            <dd class="col-sm-9">$@Model.Precio</dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.IdProducto" class="btn btn-warning">Editar Producto</a>
    <a asp-action="EliminarProducto" asp-route-id="@Model.IdProducto" class="btn btn-danger">Eliminar Producto</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>